@page "/MovementDetails/{id:int}"
@model MyLog.Client.Razor.Pages.MovementDetailsModel
@{
}

<h1>Movement Details</h1>

<form method="post">
    <div>
        <label for="CargoNr"><strong>Cargo Number:</strong></label>
        <input type="hidden" id="CargoNr" asp-for="CargoNr" />
        <label>@Model.Detail.CargoNr</label>
    </div>
    <div>
        <label for="Delivery"><strong>Delivery:</strong></label>
        <input type="number" id="Delivery" asp-for="DeliveryId" />
    </div>
    <div>
        <label for="PickUp"><strong>PickUp:</strong></label>
        <input type="number" id="PickUp" asp-for="PickUpId" />
    </div>
    <div>
        <label for="CargoPayer"><strong>Cargo Payer:</strong></label>
        <input type="number" id="CargoPayer" asp-for="CargoPayerId" />
    </div>
    <div>
        <label for="UserName"><strong>User Name:</strong></label>
        <input type="text" id="UserName" asp-for="UserName" />
    </div>
    <button type="submit">Save</button>
</form>